body{
  background-color: #9FBEC0;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
  background-size: 50px 50px;
  z-index: -1;
}
.white-background{
  background-color: #fff;

}
#map-container {
  position: relative;
  z-index: 1; /* Ensure the map container is above the gridlines */
  /* Add any additional styles for your map container */
}
.filters {
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(223, 223, 223, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.w-70{
  width: 70%;
  float: right;
}

label{
  line-height: 2;
}
button{
  border: none;
  display: inline;
  margin-bottom: 5px;
}